.background-blue {
  background: #17a2b8;
}

.color-white {
  color: white;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.icon-required {
  color: red;
}

.margin-right-5 {
  margin-right: 5px;
}

.clear-both {
  clear: both;
}

.text-vertical-middle {
  vertical-align: middle !important;
  text-align: center;
}

.border-background-none {
  border: none;
  background: none;
  color: #007bff;
}

.wrap-nowrap-vertical-middel {
  white-space: nowrap !important;
  vertical-align: middle !important;
}

.hidden {
  display: none;
}

.cursor-poiter {
  cursor: pointer;
}

.error {
  color: red;
}

.width-120 {
  width: 120px;
}

.width-70 {
  width: 70px;
}

.height-30 {
  height: 30px;
}

.margin-bottom-8 {
  margin-bottom: -8px;
}
.list-title-tabs {
    border-bottom: none;
    margin-bottom: 25px;
}
.list-title-tabs li a{
    padding: 10px 15px 10px 15px;
}
.list-title-tabs .active {
    background: #00000024;
}
.frame-show-video {
    width: 100%;
    height: 120px;
}
